{% extends "base.html" %}
{% block title %}任务执行{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/autodeploy/autodeploy.css" media="screen" type="text/css" />
<div class="container">
  <form id="contact" action="/autodeploy/salt_api/" method="post" id="auto_form">
    <h3>AutoDeploy System</h3>
    <br>
    <fieldset form="auto_form">
        <h4>函数名:
        <select name="fun"  style="width: 150px;height: 25px">
            {% for value in cmd_name %}
            <option id="name">{{value.cmd_name}}</option>
            {% endfor %}
        </select></h4>
    </fieldset>
    <fieldset>
       <h4>服务器IP列表(用逗号分隔):
           <input  type="text" name="tgt">
       </h4>
    </fieldset>
    <fieldset>
        <h4>参数名(用四个#号分隔):
            <input type="text" name="arg" required>
        </h4>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
    <!--<div>-->
    <!--<form action="/autodeploy/salt_api/" method="post" id="auto_form" class="form">-->
        <!--&lt;!&ndash;<a>函数名: <input name="fun"/></a>&ndash;&gt;-->
        <!--<p class="name">-->
        <!--<select name="fun" form="auto_form">-->
            <!--{% for value in cmd_name %}-->
            <!--<option id="name">{{value.cmd_name}}</option>-->
            <!--{% endfor %}-->
        <!--</select>-->
        <!--<label for="name">函数名 </label>-->
        <!--</p>-->
        <!--<p class="email"><input type="text" name="tgt" id="email" /><label for="name">服务器列表 </label></p>-->
        <!--<p class="web"><input type="text" name="arg" id="web"/><label for="name">参数 &nbsp;&nbsp;</label></p>-->
        <!--<p class="submit"><input type="submit" value="提交" /></p>-->
    <!--</form>-->
    <!--</div>-->
{% endblock%}